.gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background: linear-gradient(120deg, #182848 0%, #4b6cb7 100%); */
    background: linear-gradient(120deg, $color-grace 0%, #b91d73 100%);
    z-index: -10;
}